# Test dataframe

In [69]:
import excell_functions

In [70]:
import pandas as pd

In [71]:
from excell_functions import logical as exfun, example as example

In [72]:
example = example.df
display(example)

           A       B     C         D      E          F            G     H
1       Bert    bool  1873  5.131507   True 2018-08-20   4868493.15  None
2     Martha     cow  2524  6.915068  False 2016-11-07   4627397.26  None
3       Noah    calf   269  0.736986   True 2023-01-10   9263013.70  None
4       Emma  heifer    67  0.183562  False 2023-07-31  14724657.53  None
5       Liam    calf   167  0.457534   True 2023-04-22   9542465.75  None
6     Oliver    calf    67  0.183562   True 2023-07-31   9816438.36  None
7      Lucas    bool  3258  8.926027   True 2014-11-04   1073972.60  None
8   Isabella     cow  2811  7.701370  False 2016-01-25   3447945.21  None
9      Henry    calf   177  0.484932   True 2023-04-12   9515068.49  None
10    Amelia     cow  2119  5.805479  False 2017-12-17   6291780.82  None
11    Evelyn     cow  3132  8.580822  False 2015-03-10   2128767.12  None
12       Mia     cow  2489  6.819178  False 2016-12-12   4771232.88  None

## IF() function

### Test single value.

Python's "example\['A'\]\[1\]" is equal Excell's "example!A1".

In [73]:
example['A'][1]

'Bert'

In [74]:
example['A'][2]

'Martha'

In [75]:
example['A'][7]

'Lucas'

#### Test "True" condition

Bert is a bool. Lucas is a bool too. Martha is a cow.

In [76]:
# If one of theese animals is not a bool, it is Martha.
exfun.IF(example['B'][1]=='bool', 'It is Bert (or Lucas)!', 'It is Martha!')

'It is Bert (or Lucas)!'

In [77]:
# If one of theese animals is not a bool, it is Martha.
exfun.IF(example['B'][7]=='bool', 'It is Bert (or Lucas)!', 'It is Martha!')

'It is Bert (or Lucas)!'

#### Test "False" condition

In [78]:
# If one of theese animals is not a bool, it is Martha.
exfun.IF(example['B'][2]=='bool', 'It is Bert (or Lucas)!', 'It is Martha!')

'It is Martha!'

#### Test single value again. Compare pair in condition value

In [79]:
# Bert and Lucas bools, isn't it?
exfun.IF(example['B'][1] == example['B'][7], 'It is true!', 'It is false!')

'It is true!'

In [80]:
# Bert and Lucas bools, isn't it?
exfun.IF(example['B'][1] == example['B'][2], 'It is true!', 'It is false!')

'It is false!'

### Test group values.

Python's "exampl\['A']\[1], example\['B']\[2], example\['C']\[3]" is equal Excell's "example!A1;example!B2;example!C3".

In [81]:
[example['A'][1], example['B'][2], example['C'][3]]

['Bert', 'cow', 269]

In [82]:
exfun.IF((example['A'][1], example['B'][2], example['C'][3]), 'It is true!', 'It is false!')

'It is true!'

In [83]:
exfun.IF([example['A'][1], example['B'][2], example['C'][3]], 'It is true!', 'It is false!')

'It is true!'

### Test column.

Python's "example\['A'\]" is equal Excell's "example!A:A".

In [84]:
example['A']

1         Bert
2       Martha
3         Noah
4         Emma
5         Liam
6       Oliver
7        Lucas
8     Isabella
9        Henry
10      Amelia
11      Evelyn
12         Mia
Name: A, dtype: object

In [85]:
example['A'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 12 entries, 1 to 12
Series name: A
Non-Null Count  Dtype
--------------  -----
12 non-null     object
dtypes: object(1)
memory usage: 228.0+ bytes

In [86]:
exfun.IF(example['E'], example['A'], example['H'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
exfun.IF([example['E']], [example['A']], [example['H']])

In [87]:
type(exfun.IF([example['E']], [example['A']], [example['H']]))

list

### Test row.

Python's "example\[0:1\]" is equal Excell's " example!1:1".

In [88]:
example[:1]

      A     B     C         D     E          F           G     H
1  Bert  bool  1873  5.131507  True 2018-08-20  4868493.15  None

In [89]:
example[1:2]

        A    B     C         D      E          F           G     H
2  Martha  cow  2524  6.915068  False 2016-11-07  4627397.26  None

In [90]:
example[2:3]

      A     B    C         D     E          F          G     H
3  Noah  calf  269  0.736986  True 2023-01-10  9263013.7  None

In [91]:
exfun.IF(example[:1], example[1:2], example[2:3])

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
exfun.IF([example[:1]], [example[1:2]], [example[2:3]])

In [92]:
type(exfun.IF([example[:1]], [example[1:2]], [example[2:3]]))

list

### Test area.

Python's "example.loc\[0:11, 'A']" is equal Excell's " example!A1:A11".

Python's "example.loc\[0:1, 'A':'G']" is equal Excell's " example!A1:G1".

Python's "example.loc\[0:11, 'A':'G']" is equal Excell's " example!A1:G11".

In [93]:
ver = example.loc[:11, 'A']
example.loc[:11, 'A']

1         Bert
2       Martha
3         Noah
4         Emma
5         Liam
6       Oliver
7        Lucas
8     Isabella
9        Henry
10      Amelia
11      Evelyn
Name: A, dtype: object

In [94]:
hor = example.loc[:1, 'A':'G']
example.loc[:1, 'A':'G']

      A     B     C         D     E          F           G
1  Bert  bool  1873  5.131507  True 2018-08-20  4868493.15

In [95]:
horver = example.loc[:11,'A':'G']
example.loc[:11, 'A':'G']

           A       B     C         D      E          F            G
1       Bert    bool  1873  5.131507   True 2018-08-20   4868493.15
2     Martha     cow  2524  6.915068  False 2016-11-07   4627397.26
3       Noah    calf   269  0.736986   True 2023-01-10   9263013.70
4       Emma  heifer    67  0.183562  False 2023-07-31  14724657.53
5       Liam    calf   167  0.457534   True 2023-04-22   9542465.75
6     Oliver    calf    67  0.183562   True 2023-07-31   9816438.36
7      Lucas    bool  3258  8.926027   True 2014-11-04   1073972.60
8   Isabella     cow  2811  7.701370  False 2016-01-25   3447945.21
9      Henry    calf   177  0.484932   True 2023-04-12   9515068.49
10    Amelia     cow  2119  5.805479  False 2017-12-17   6291780.82
11    Evelyn     cow  3132  8.580822  False 2015-03-10   2128767.12

In [96]:
exfun.IF(hor, hor, hor)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [97]:
exfun.IF(ver, ver, ver)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
exfun.IF(horver, horver, horver)

In [98]:
exfun.IF([hor], [hor], [hor])

[      A     B     C         D     E          F           G
 1  Bert  bool  1873  5.131507  True 2018-08-20  4868493.15]

In [99]:
exfun.IF([ver], [ver], [ver])

[1         Bert
 2       Martha
 3         Noah
 4         Emma
 5         Liam
 6       Oliver
 7        Lucas
 8     Isabella
 9        Henry
 10      Amelia
 11      Evelyn
 Name: A, dtype: object]

In [100]:
exfun.IF([horver], [horver], [horver])

[           A       B     C         D      E          F            G
 1       Bert    bool  1873  5.131507   True 2018-08-20   4868493.15
 2     Martha     cow  2524  6.915068  False 2016-11-07   4627397.26
 3       Noah    calf   269  0.736986   True 2023-01-10   9263013.70
 4       Emma  heifer    67  0.183562  False 2023-07-31  14724657.53
 5       Liam    calf   167  0.457534   True 2023-04-22   9542465.75
 6     Oliver    calf    67  0.183562   True 2023-07-31   9816438.36
 7      Lucas    bool  3258  8.926027   True 2014-11-04   1073972.60
 8   Isabella     cow  2811  7.701370  False 2016-01-25   3447945.21
 9      Henry    calf   177  0.484932   True 2023-04-12   9515068.49
 10    Amelia     cow  2119  5.805479  False 2017-12-17   6291780.82
 11    Evelyn     cow  3132  8.580822  False 2015-03-10   2128767.12]

In [101]:
type(exfun.IF([horver], [horver], [horver]))

list

### Test data types.

#### Test "non boolean" specific values in condition

Test empty

In [102]:
exfun.IF(, 'It is true!', 'It is false!')

SyntaxError: invalid syntax (3579035686.py, line 1)

Test empty string

In [103]:
exfun.IF("", 'It is true!', 'It is false!')

'It is false!'

Test 0

In [104]:
exfun.IF(0, 'It is true!', 'It is false!')

'It is false!'

Test 1

In [105]:
exfun.IF(1, 'It is true!', 'It is false!')

'It is true!'

#### Test "different types" in condition

Test string

In [106]:
exfun.IF(example['A'][1], 'It is true!', 'It is false!')

'It is true!'

In [107]:
exfun.IF(example['B'][1], 'It is true!', 'It is false!')

'It is true!'

Test int

In [108]:
exfun.IF(example['C'][1], 'It is true!', 'It is false!')

'It is true!'

Test float

In [109]:
exfun.IF(example['D'][1], 'It is true!', 'It is false!')

'It is true!'

Test boolean

In [110]:
exfun.IF(example['E'][1], 'It is true!', 'It is false!')

'It is true!'

Test datetime

In [111]:
exfun.IF(example['F'][1], 'It is true!', 'It is false!')

'It is true!'

Test float

In [112]:
exfun.IF(example['G'][1], 'It is true!', 'It is false!')

'It is true!'

Test None

In [113]:
exfun.IF(example['H'][1], 'It is true!', 'It is false!')

'It is false!'